!!! Strict
%html
  %head
    %title 上海银行间同业拆放利率
    %script{src: "http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"}
  %body
    #header
      %hl 上海银行间同业拆放利率
    #container
      #main{style: "height: 400px;"}
      %script{type: "text/javascript"}
        = yield
    #footer
      Copyright (c) 2015   
